/**General*/

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav {
    padding: 5px;
    background-color: #e09035;
}

a.button1 {
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #FFFFFF;
    text-align: center;
    transition: all 0.2s;
}

a.button1:hover {
    color: #000000;
    background-color: #FFFFFF;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
}

/**ListView*/

.todo-list-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f9a13b;
    padding: 5px;
}

.todo-list-item-title {
    flex: 2
}

.todo-list-item-checkbox {
    flex: 1;
}

.todo-list-item-button {
    flex: 1;
}

/**DetailView*/

.todo-detail-background {
    background-color: #f9a13b;
    padding: 10px 5px;
}

.todo-detail-title {
    margin: 0;
}
